// Colors
$white: #fff;
$black: #000;
$gray: #d3d3d3;
$green:#40dea1;
$default-font-size: 1.6rem;

$font-mont: "Montserrat", sans-serif;

$font-primary: $font-mont;
$default-mqMax-width: 991px;
$default-mqMin-width: 992px;
$default-mqMinMax-min-width: 992px;
$default-mqMinMax-max-width: 1920px;